body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

span a {
  text-decoration: none;
  color: #666;
}

form {
  font-size: 40px;
  border-radius: 3px;
}

form button {
  background-color :#111;
  border: 1px solid #000;
  color: #fff;
  padding: 8px;
  cursor: pointer;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
  fixed = parallax
  scroll = scroll
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../images/pic5.jpg');
  min-height: 100%;
}

.pimg2 {
  background-image: url('../images/pic2.jpg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('../images/pic6.jpg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.signup {
  position:absolute;
  top: 80%;
  width: 100%;
  text-align: center;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.5px;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}


.form-border {
  background-color: #111;
  color: white;
  margin-top: 30px;
  padding: 20px;
}

.blank {
  border: 2px solid rgb(187, 16, 16);
}

.ptext .border.trans {
  background-color: transparent;
  color: #fff;
}


#error {
  display: none;
  font-size: 13px;
  color: red;
  padding: 0;
  margin: 0 0 -1em 0;
}

@media(max-width:568px) {
  .pimg1, .pimg2, .pimg3 {
    background-attachment: scroll;
  }
}